# Nome do workflow

name: EBAC-MODULO-11

# Comantos de configuração.
on:
  # sempre que tiver um envio para origin ele vai executar estes comandos
  # Gatilhos de execuções, podendo agendar apra um determinado horário
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Abilitar workflow manualmente
  workflow_dispatch:

# Tarefas do workflow
jobs:
  # Onde quero executar o fluxo de trabalho
  build:
    # Executar em um windows-latest, ubuntu-latest
    runs-on: ubuntu-latest

    # Qual versão do node vai ser utilizada
    strategy:
      matrix:
        node-version: [16.x]

    # Configurações
    # Configuração que instala o node
    steps:
      - uses: actions/checkout@v3
      - name: Iniciar o Container Docker
        run: |
          docker run -d -p 3000:3000 paulogoncalvesbh/serverest:latest
          sleep 7
        
      - name: Setup Node.js
        uses: actions/setup-node@v3.8.1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/checkout@v4.0.0
      #comandos necessários para executar a aplicação da mesma forma que no PC
      - run: npm init -y
      - run: npm install --yes
      - run: npm i faker-br --dev
      - run: npm install cypress -d

      - run: npx cypress run --config video=false --env allure=true --record --key ad7e7e2c-7f7c-48f1-8f1c-8c8098294edc
      # - run: node runner.js
      #Geração do relatório em HTML allure-report
      - name: Allure report V2
        uses: QuintilianoNery/action-allure-report-V2@0.2.0
        with:
          results-dir: allure-results
          report-dir: allure-report

        #Enviar para o git hub pages
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{SECRETS.GITHUB_TOKEN}}
          BRANCH: gh-pages
          FOLDER: allure-report
